/* *{
    color: #61e9fb
} */

::-webkit-scrollbar {
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
   
}

.privacy-screen {
  position: fixed;
  transform: rotate(90deg);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  transform-origin: bottom;
  /* min-width: 500px; */
  

  background-color: #000000;
  z-index: 999;
}



@tailwind base;
@tailwind components;
@tailwind utilities;